requests
googletrans==4.0.2
dbus-python ; sys_platform == "linux"
winrt-Windows.media.control ; sys_platform == "win32"
winrt-Windows.Foundation ; sys_platform == "win32"
winrt-Windows.foundation.collections ; sys_platform == "win32"
uroman
